<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <!--(bake /_includes/_title.html pageName="pageName")-->
  <meta name="description" content="{{meta.description}}">
  <meta name="keywords" content="{{meta.keywords}}">
  <!--(bake /_includes/_ogp.html)-->
  <!--(bake /_includes/_common_head.html)-->
</head>
<body>
  <h1>Title</h1>
  <!--(bake /_includes/_common_foot.html)-->
</body>
</html>