/*
* media query
*/
// use like this
// $_media = media(screen,'and',(min-width 768px))
// @media $_media
//   .container
//     max-width 728px
media(args...)
  output = null
  for arg in args
    if arg[1]
      push(output,unquote('(%s: %s)' % (arg[0] arg[1])))
    else
      push(output,unquote(arg))
  unquote(s('%s',output))

