//IE6のサポート
$support-ie6: true;

// 出力するベンダープリフィックスを指定
$use-prefix-webkit: true;  // WebKit
$use-prefix-moz: true;  // Firefox
$use-prefix-ms: true;  // IE
$use-prefix-o: false; // Opera

// 日本語フォント ex) font-family: unquote($font-meiryo);
$font-hiragino: "'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif";
$font-meiryo: "'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif";
$font-pgothic: "'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif";

// 英数フォント
$font-arial: "Arial, Helvetica, sans-serif";
$font-courier-new: "'Courier New', Courier, monospace";
$font-georgia: "Georgia, 'Times New Roman', Times, serif";
$font-verdana: "Verdana, Arial, Helvetica, sans-serif";
$font-tahoma: "Tahoma, Arial, Helvetica, sans-serif";

//フォントサイズ
@function fz($size, $unit: false, $inheritance: false) {
  $use-yui-font-size: true !default;

  @if $unit {
  // $unit(単位)が設定されている場合
    @if $inheritance {
      // $inheritance(継承値）が設定されている場合
      @if $unit == "em" {
        @return ($size/$inheritance)#{$unit};
      } @else if $unit == "%" {
        @return ($size/$inheritance*100)#{$unit};
      } @else {
        // em, % 以外の単位の場合は計算しない
        @return #{$size}#{$unit};
      }
    } @else {
      // $inheritance が設定されていない場合
      @return #{$size}#{$unit};
    }
  }@else {
    // $unit(単位)が設定されていない場合
    @if $use-yui-font-size {
      // YUIを使用する場合
      // http://yuilibrary.com/yui/docs/cssfonts/#fontsize
      $fz-list: 77%, 85%, 93%, 100%, 108%, 116%, 123.1%, 131%, 138.5%, 146.5%, 153.9%, 161.6%, 167%, 174%, 182%, 189%, 197%;
      $base-fz: 13; // YUIの基準フォントサイズは13px
      $min-fz : 10; // YUIの最小フォントサイズは10px相当
      $max-fz : 26; // YUIの最大フォントサイズは26px相当
      $unit: "%";
      //
      @if $size < $min-fz or $size > $max-fz {
        @warn "指定されたフォントサイズ '" + $size + "' はYUI CSS Fontsのサポート外です。「指定フォントサイズ/13px*100」で算出された%を出力しています。";
        @return ($size/$base-fz*100)#{$unit};
      } @else {
        @return nth($fz-list, $size - ($min-fz - 1));
      }
    } @else {
      // YUIを使用しない場合は、pxで出力
      @return #{$size}px;
    }
  }
}

//for Animation Bug
@mixin fixChiratsuki {
  -webkit-transform-style: preserve-3d;
}

//
@mixin borderBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//選択時のカラー
@mixin selection (){
  ::selection {
    @content;
  }
  ::-moz-selection {
    @content;
  }
}


//Opacity
@mixin opacity ($alpha: 0.5) {
  opacity: $alpha;
  filter: alpha(opacity=($alpha * 100));
  -ms-filter: "alpha(opacity=#{$alpha * 100})";
}

//画像置換
@mixin img-replacement($width: false, $height: false, $bg-url: false, $bg-position-x: 0, $bg-position-y: 0) {
  display: block;
  @if $width {
    width: $width;
  }
  @if $height {
    height: $height;
  }
  @if $bg-url {
    background: url(unquote($bg-url)) no-repeat $bg-position-x $bg-position-y;
  }
  @else {
    background-position: $bg-position-x $bg-position-y;
    background-repeat: no-repeat;
  }
  @if $support-ie6 {
    text-indent: -9999px;
  }
  @else {
    border: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
  }
}

// # Media Queries
//
// ## Breakpoints (Window Size)
//
// 0-480   : [Smartphone]
//           iPhone3/4/5(Portrait), iPhone3/4(Landscape)
//           Most Android Phone(Portrait)
// 481-800 : [Tablet, Smartphone(Landscape)]
//           iPhone5(Landscape), iPad(Portrait)
//           Most Android Phone(Landscape)
//           Newer Android Tablet(Portrait)
// 801+    : Default, iPad(Landscape), Newer Android Tablet(Landscape)
//  OR 801-1024
// 1025+   : Large Window Size, Newer Android Tablet(Landscape)

// USE LIKE THIS

// @include mq {
//  @if $mq-default or tablet {

//  }
//  @if $mq-sp {

//  }
// }

// ## Variables
$mq-all    : null !default;
$mq-sp     : null !default;
$mq-tablet : null !default;
$mq-default: null !default;
$mq-large  : null !default;

$default-mq-sp-max-width     : 480px !default;
$default-mq-tablet-min-width : $default-mq-sp-max-width + 1 !default;
$default-mq-tablet-max-width : 800px !default;
$default-mq-default-min-width: $default-mq-tablet-max-width + 1 !default;
$default-mq-large-min-width  : 1025px !default;
$default-mq-default-max-width: null !default;
// $default-mq-default-max-width: $default-mq-large-min-width - 1 !default;

// ## Wrapper
@mixin mq {
  @include mq-all     { @content; }
  // @include mq-large   { @content; }
  @include mq-default { @content; }
  @include mq-tablet  { @content; }
  @include mq-sp      { @content; }
}

// ## For All
@mixin mq-all {
  $_tmp: $mq-all;
  $mq-all: true;
  @content;
  $mq-all: $_tmp;
}

// ## For Smartphones
@mixin mq-sp(
  $max: $default-mq-sp-max-width
) {
  $_tmp: $mq-sp;
  $mq-sp: true;
  @media only screen and (max-width:#{$max}) {
    @content;
  }
  $mq-sp: $_tmp;
}

// ## For Tablets
@mixin mq-tablet(
  $min: $default-mq-tablet-min-width,
  $max: $default-mq-tablet-max-width
) {
  $_tmp: $mq-tablet;
  $mq-tablet: true;
  @media only screen and (min-width:#{$min}) and (max-width:#{$max}) {
    @content;
  }
  $mq-tablet: $_tmp;
}

// ## For PC (default)
@mixin mq-default(
  $min: $default-mq-default-min-width,
  $max: $default-mq-default-max-width
) {
  $_tmp: $mq-default;
  $mq-default: true;
  $_breakpoint: "(min-width:#{$min}) ";
  @if not($max == null) {
    $_breakpoint: $_breakpoint + "and (max-width:#{$max}) ";
  }
  @media only screen and #{$_breakpoint}{
    @content;
  }
  $mq-default: $_tmp;
}

// ## For Large Window
@mixin mq-large(
  $min: $default-mq-large-min-width
) {
  $_tmp: $mq-large;
  $mq-large: true;
  @media only screen and (min-width:#{$min}) {
    @content;
  }
  $mq-large: $_tmp;
}
